#flash_notice, #flash_error, #flash_alert {
    padding: 5px 8px;
    margin: 10px 0;
}

#flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
}

#flash_error, #flash_alert {
    background-color: #FCC;
    border: solid 1px #C66;
}

.fieldWithErrors {
    display: inline;
}

.error_messages {
    width: 400px;
    border: 2px solid #CF0000;
    padding: 0px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    font-size: 12px;
}

.error_messages h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff;
}

.error_messages p {
    margin: 8px 10px;
}

.error_messages ul {
    margin: 0;
}


*, html {
    padding: 0;
    margin: 0;
    font-family: helvetica;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

a {
    color: #0097ba;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input {
    border: 1px solid #e0e0e0;
    background: white;
    border-radius: 3px;
    line-height: 22px;
    padding: 8px;
    font-size: 14px;
    color: #555;
}

body {
}

#headertab {
    display: block;
}

#rwslayout {
    width: 980px;
    margin: auto;
}

#search {
    padding: 50px 30px;
    padding-left: 0;
    width: auto;
    background: #f9f9f9;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 2px 6px #e2e2e2;
}

#search .inner {
    width: 980px;
    margin: auto;
    position: relative;
}

#search #logo,
#search #search-box,
#search #search-box div {
    display: inline-block;
}

#search #logo {
    padding: 10px;
    font-size: 38px;
    color: #e53f00;
    font-weight: bold;
    font-family: trebuchet;
    vertical-align: middle;
    position: absolute;
    top: -75px;
    left: -27px;
}

#search #search-box {
    padding-left: 260px;
}

#search #search-box input {
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px 1px #E5E5E5 inset;
    color: #aaa;
    font-size: 18px;
    margin-right: 10px;
    border-radius: 5px;
}

#search #search-box input.location {
    width: 200px;
}

#search #search-box input.keyword {
    width: 260px;
}

#search #search-box button {
    font-size: 16px;
    padding: 8px 15px;
    line-height: 21px;
    color: #fff;
    background: #60b811;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid rgba(0,0,0,0.1);
    vertical-align: 1px;
}

#rwslayout #submenu {
    list-style-type: none;
    margin-top: 25px;
    margin-bottom: 5px;
    position: relative;
    z-index: 2;
}

#rwslayout #submenu li,
ul.action-links li {
    display: inline-block;
    padding: 7px;
    margin: 5px;
    font-size: 12px;
    color: #666;
}

#rwslayout #submenu li.select {
    padding-left: 0;
}

li.send-message,
li.bookmark-item,
li.get-resume {
    padding-left: 36px !important;
}

li.send-message {
    background: url("email.png") no-repeat scroll -4px -3px transparent;
}

li.bookmark-item {
    background: url("star.png") no-repeat scroll 3px -1px transparent;
}

li.get-resume {
    background: url("resume.png") no-repeat scroll 3px -1px transparent;
}

#rwslayout #submenu li.checkbox {
    padding: 0;
    margin-left: 8px;
    vertical-align: -1px;
}

#rwslayout #results {
    width: 625px;
    float: left;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
}

#rwslayout #results .single-result {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 23px;
    position: relative;
    padding-left: 28px;
    border-radius: 3px;
}

#rwslayout #results .single-result .action-links-container {
    position: absolute;
    margin: 12px;
    top: 0;
    right: 0;
    padding: 10px;
    background: rgba(255, 255, 255, 0.9);
    display: block;
    text-align: right;
    display: none;
    border-radius: 4px;
}

#rwslayout #results .single-result:hover .action-links-container {
    display: block;
}

#rwslayout #results .single-result .action-links-container .action-links {
    list-style-type: none;
}

#rwslayout #results .single-result .action-links-container .action-links li {
    display: inline;
    margin: 5px 0px;
}

#rwslayout #results .single-result .action-links-container .action-links li a {
    font-size: 12px;
}

#rwslayout #results .single-result .picture {
    float: left;
    width: 90px;
    height: 90px;
    display: block;
    background: #222;
    border-radius: 5px;
}

#rwslayout #results .single-result .checkbox {
    position: absolute;
    top: 5px;
    left: 7px;
}

#rwslayout #results .single-result .position {
    font-size: 16px;
}

#rwslayout #results .single-result .content {
    padding-left: 110px;
}

#rwslayout #results .single-result .content .description {
    color: #666;
    font-size: 12px;
    margin-top: 8px;
    line-height: 18px;
}

#rwslayout #results .single-result .content .tags {
    margin-top: 15px;
}

#rwslayout #results .single-result .content .tags .tag {
    font-size: 11px;
    padding: 5px 7px;
    background: #e9e9e9;
    border-radius: 3px;
}

#rwslayout #sidebar {
    padding: 10px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    width: 300px;
    display: block;
    height: 500px;
    float: right;
    border-radius: 5px;
}
